/* цвет основной текста #212121 */
/* вторичный цвет текста #757575 */
/* вторичный цвет фона #AFB1B8 */

/* белый #FFFFFF */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Header*/

.logo-header {
  color: black;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.logo-web {
  color: var(--accent-color);
}

.address .link {
  font-style: inherit;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
}

/* Hero */
.hero-title {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-align: center;
}

/* buttons */
.button-order {
  color: var(--primary-white-color);
  background: var(--accent-color);
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 16px;
}

.button-subscribe {
  color: var(--primary-white-color);
  background: var(--accent-color);
  letter-spacing: 0.06em;
  font-size: 16px;
}

/* what we do */
.what-we-do .title {
  color: var(--primary-white-color);
  text-transform: uppercase;
  text-align: center;
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);
  text-transform: uppercase;
}

/* Team */
.team-list .title {
  color: var(--title-text-color);
  text-align: center;
  font-size: 16px;
}

.profession {
  text-align: center;
  font-size: 16px;
}

/* Works-list for portfolio */
.works-list .title {
  color: var(--title-text-color);
  font-size: 18px;
  letter-spacing: 0.06em;
}

.works-list .product {
  font-size: 16px;
}

.works-description {
  color: var(--primary-white-color);
  font-size: 18px;
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.address-footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: inherit;
}

.physical-address {
  color: var(--primary-white-color);
}

.join {
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.developing {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
